.CountryList {
  display: flex;
  /* grid-row-gap: 2.3em;
  grid-column-gap: 75px;
  grid-template-columns: repeat(auto-fill, 270px);
  background: var(--background);
  justify-content: center;
  padding: 3em 0; */
}

.test {
  color: aqua;
  background-color: black;
}
