.CountryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-row-gap: 2.3em;
  grid-column-gap: 75px;
  background: var(--background);
  justify-content: center;
  padding: 3em 0;
}
