.InputDiv {
  display: inline-flex;
  background: var(--white);
  align-items: center;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  padding: 0 2rem;
  border-radius: 5px;
}

i {
  margin-right: 1em;
  color: #c4c4c4;
}

.Input {
  flex: 1;
  border: none;
  height: 48px;
  line-height: 48px;
  font-size: 0.7em;
  outline: 0;
  background: var(--white);
  color: var(--black);
}
